# Systemd service for Jackson application.
[Unit]
Description=Jackson Voice-controlled Jacket
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/Jackson_live/jackson.py
WorkingDirectory=/home/pi/Jackson_live
StandardOutput=inherit
StandardError=inherit
#Restart=always
Restart=no

[Install]
WantedBy=multi-user.target
